.place__title {
    padding: 0;
    margin: 0;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: calc(32px + (10 + 10 * 0.7) * ((100vw - 320px) / 768));
        line-height: calc(35px + (11 + 11 * 0.7) * ((100vw - 320px) / 768));
    }
}

@media screen and (max-width: 400px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }
}