.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    max-width: 640px;
    width: 100%;
    margin: 32px 0 0;
    color: #fff;
    white-space: pre-line;
}