.place {
    display: grid;
    grid-template-columns: auto auto;
    gap: 48px 40px;
}

@media screen and(max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }    
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;
    }    
}

@media screen and (max-width: 400px) {
    .place {
        grid-template-columns: auto;
        gap: 32px;
    }    
}