.footer {
    margin: 92px 48px 0;
    display: grid;
    grid-template-columns: repeat(4, auto) 1fr auto;
    gap: 18px;
    padding: 0 0 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 16px 0;
    }
}

@media screen and (max-width: 610px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 64px 16px 0;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        gap: 32px;
    }
}